<h1>Login</h1>

<.simple_form :let={f} for={@conn}, as="user" action={~p"/sessions"}>
    <.input field={f[:username]} type="text" label="Username"/>
    <.input field={f[:password]} type="password" label="Password"/>
    <:actions>
        <.button>Login</.button>
    </:actions>
</.simple_form>
