<h1>New Paper</h1>

<.simple_form :let={f} for={@changeset} action={~p"/papers"}>
    <.input field={f[:title]} type="text" label="Title"/>
    <.input field={f[:url]} type="url" label="URL" />
    <:actions>
        <.button>Save</.button>
    </:actions>
</.simple_form>