@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

.w-min {
    width: 100px;
}

.btn {
    @apply font-bold py-2 px-4 rounded;
}

.btn-blue {
    @apply bg-blue-500 text-white;
}

.btn-blue:hover {
    @apply bg-blue-700;
}

#pdf-container {
    position: absolute;
    overflow: auto;
    height: 400px;
}

#pdf-viewer {
    height: 400px;
}