<h1>Registration</h1>

<.simple_form :let={f} for={@changeset} action={~p"/users"}>
    <.input field={f[:name]} type="text" label="Name"/>
    <.input field={f[:username]} type="text" label="Username"/>
    <.input field={f[:email]} type="email" label="Email"/>
    <.input field={f[:password]} type="password" label="Password"/>
    <:actions>
        <.button>Register</.button>
    </:actions>
</.simple_form>