<.header>
  <%= @user.name %>
</.header>

<h1>Posts</h1>
<table>
    <%= for post <- @user.posts do %>
    <tr>
        <td>
            <b><%= post.paper.title %></b>
        </td>
        <td><.link href={~p"/papers/#{post.paper.id}"}>View</.link></td>
    </tr>
    <% end %>
</table>

<.back navigate={~p"/"}>Back to posts</.back>
